<div class="confirm-password-container">
  <h2>Reset Password</h2>

  <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()">
    <input
      type="password"
      placeholder="Enter new password"
      formControlName="newPassword"
    />
    <div
      *ngIf="
        confirmPasswordForm.controls['newPassword'].touched &&
        confirmPasswordForm.controls['newPassword'].invalid
      "
      class="error"
    >
      Password must be at least 6 characters long.
    </div>

    <input
      type="password"
      placeholder="Confirm new password"
      formControlName="confirmPassword"
    />
    <div
      *ngIf="
        confirmPasswordForm.controls['confirmPassword'].touched &&
        confirmPasswordForm.controls['confirmPassword'].invalid
      "
      class="error"
    >
      Please confirm your password.
    </div>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <button type="submit">Reset Password</button>
  </form>
</div>
