<div class="main-container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        id="first_name"
        type="text"
        formControlName="first_name"
        placeholder="Enter your first name"
      />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input
        id="last_name"
        type="text"
        formControlName="last_name"
        placeholder="Enter your last name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
    </div>
    <button type="submit">Register</button>
    <a routerLink="/login">Already have an account? Login</a>
  </form>
</div>
