<div class="form-container">
  <h2 class="form-title">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>

    <button (click)="onSubmit()" class="form-submit">Login</button>
  </form>

  <!-- Forgot Password Redirect -->
  <a (click)="goToForgotPassword()" class="form-link">Forgot Password?</a>

  <!-- Sign Up Redirect -->
  <p class="form-text">
    Don't have an account?
    <a (click)="goToSignUp()" class="form-link">Sign Up</a>
  </p>
</div>
